<div class="app-user-component"
  [class.user-selected]="user.selected"
  [class.user-contact]="user.contact"
  [class.user-alienated]="user.alienated">
  <ng-container *ngIf="displayMode=='card' else displayLineRef">
    <div class="user-card display-card">
      <div class="user-image">
        <div class="user-image-x"></div>
        <div class="user-image-h"
        [style.background-image]="'url('+user.imageUrl+')'">
        </div>
        <div class="user-status"
          [ngClass]="{
          'user-status-online': user.status === UserStatus.Online,
          'user-status-offline':user.status   === UserStatus.Offline,
          'user-status-recent': user.status  === UserStatus.Recent
        }"></div>
      </div>

      <div class="user-info">
        <p class="user-name">{{user | userShortName}}</p>
        <p *ngIf="user.rate>0"
          class="user-rate">
          <span class="user-rate-medal"></span>
          <span *ngIf="user.rate>1"
            class="user-rate-medal"></span>
          <span *ngIf="user.rate>2"
            class="user-rate-medal"></span>
        </p>
        <div class="user-location">
          <span class="user-location-location">
            <span>{{user.location?.name}},</span>
            <span>{{user.location?.region?.name}}</span>
          </span>
          <div class="user-location-flag"
            [style.background-image]="'url('+user?.location?.flag+')'">
          </div>
        </div>
      </div>

      <div class="user-overlay"
        title="{{user | userFio}}"
        [disabled]="disabled"
        (click)="onUserClick($event)">
        <button class="button-delete-user"
          [class.disabled]="user.selected"
          [title]="'Удалить пользователя &quot;' + (user | userFio) +'&quot;'"
          (click)="onDeleteUser(user, $event)"
          [disabled]="user.selected || disabled">×</button>
      </div>
    </div>
  </ng-container>

  <ng-template #displayLineRef>
    <div class="user-card display-list">
      <div class="user-image">
        <div class="user-image-x"></div>
        <div class="user-image-h"
        [style.background-image]="'url('+user.imageUrl+')'">
        </div>
        <div class="user-status"
          [ngClass]="{
          'user-status-online': user.status === UserStatus.Online,
          'user-status-offline':user.status   === UserStatus.Offline,
          'user-status-recent': user.status  === UserStatus.Recent
        }"></div>
      </div>
      <p *ngIf="user.rate>=0"
        class="user-rate">
        <span class="user-rate-medal"></span>
        <span *ngIf="user.rate>1"
          class="user-rate-medal"></span>
        <span *ngIf="user.rate>2"
          class="user-rate-medal"></span>
      </p>
      <div class="user-info">
        <div class="user-name-rate">
          <p class="user-name">{{user | userShortName}}</p>
        </div>
        <div class="user-location">
          <span class="user-location-location">
            <span>{{user.location?.name}},</span>
            <span>{{user.location?.region?.name}}</span>
          </span>
          <div class="user-location-flag"
            [style.background-image]="'url('+user?.location?.flag+')'">
          </div>
        </div>
      </div>

      <div class="user-overlay"
        title="{{user | userFio}}"
        [disabled]="disabled"
        (click)="onUserClick($event)">
        <button class="button-delete-user button-delete-user-display-list"
          [title]="'Удалить пользователя &quot;' + (user | userFio) +'&quot;'"
          [class.disabled]="user.selected"
          (click)="onDeleteUser(user, $event)"
          [disabled]="user.selected || disabled">×</button>
      </div>
    </div>
  </ng-template>
  <div *ngIf="user.contact"
    class="user-contact-overlay"
    title="{{user | userFio}} вступил в контакт">
  </div>
</div>
