@import '../../../styles/variables';

.app-user-component {
  position: relative;

  .user-contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26ff00;
    opacity: 0.3;

    cursor: url(/assets/svg/ship.svg), wait;
  }

  .user-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;

    .button-delete-user {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      right: 5px;
      top: 5px;
      padding: 0;

      width: 2rem;
      height: 2rem;
      border: 2px solid #020000;

      border-radius: 5px;

      cursor: pointer;

      background-color: #e02020;
      color: #ffd1d1;
      font-weight: bold;
      font-size: 2rem;
      outline: none;

      user-select: none;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 10px 2px #ffe0e0 inset;
      }

      &:active:not([disabled]) {
        border: 2px solid #bf1d1d;
        border-style: inset;
        background-color: #bf1d1d;
        padding-left: 1px;
        padding-top: 1px;
      }

      &.disabled,
      &.disabled:active {
        border: 2px solid rgb(83, 83, 83);
        background-color: lightgrey;
        color: #fff;
        padding-left: 0px;
        padding-top: 0px;
      }

      &.button-delete-user-display-list {
        right: 2px;
        top: 2px;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1.2rem
      }
    }
  }

  &.user-selected .user-card {
    box-shadow: 0px 0px 5px 4px #007ad8;
    transform: scale(0.95);
    transition: all 0.15s;

    &.display-list {
      transform: scale(0.98);
    }
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  height: 215px;
  max-height: 215px;

  padding: 14px;
  background-color: #fcfcff;
  box-shadow: 0px 0px 3px 1px rgb(62, 54, 54);
  border-radius: 5px;

  .user-status {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border: 2px solid #2f4658;

    &.user-status-online {
      background-color: #6dff3d;
    }

    &.user-status-offline {
      background-color: #f0f0f0;
    }

    &.user-status-recent {
      background-color: #ffa500;
    }
  }

  .user-image {
    position: relative;
    width: 100%;
    height: 50%;

    border: 2px solid lightgrey;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }

  .user-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;

    .user-name {
      margin: 0;

      font-weight: 600;
    }

    .user-rate{
      margin-left: auto;
      margin-right: 0;
      margin-top: 5px;

      .user-rate-medal{
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;

        background-image: url('/assets/svg/medal.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .user-location {
      position: relative;
      flex-grow: 1;

      .user-location-flag {
        position: absolute;
        height: 30px;
        width: 35px;
        max-width: 35px;

        right: -5px;
        bottom: -10px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .user-location-location {
        position: absolute;
        left: 0;
        bottom: -5px;
        display: flex;

        max-width: 5.2rem;
        flex-direction: column;
        font-size: 0.8rem;
        font-style: italic;

        span:nth-child(2){
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &.display-list {
    width: 100%;
    max-width: initial;

    height: 85px;

    padding: 5px 10px;
    background-color: #fcfcff;
    box-shadow: 0px 0px 3px 1px rgb(62, 54, 54);
    border-radius: 3px;

    .user-status {
      position: absolute;
      left: 2.5rem;
      width: 7px;
      height: 7px;
      border-width: 1px;
    }

    .user-image {
      background-position: left center;
    }

    .user-info {
      .user-name-rate{
        .user-rate, .user-name{
          display: inline-block;
        }

        .user-rate{
          position: relative;
          top: 2px;
          margin: 0;
          margin-left: 2rem;
    
          .user-rate-medal{
            display: inline-block;
            width: 1rem;
            height: 1rem;
    
            background-image: url('/assets/svg/medal.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      .user-location {
        .user-location-flag {
          right: 0px;
          bottom: 0px;
        }

        .user-location-location {
          max-width: initial;
          right: 2.5rem;
          bottom: 0;
          text-align: right;
          font-style: normal;
        }
      }
    }

  }
}

@media (max-width:$sm) {
  .user-card {
    width: 100%;
    max-width: 100%;
  }

  .user-image {
    background-position: left top !important;
  }
}