<div class="app-users-list-component">
  <section class="toolbar">
    <div class="toolbar-controls">
      <ul class="toolbar-buttons">
        <li class="toolbar-button toolbar-button-grid"
          [class.toolbar-button-mode-active]="listMode==='card'"
          tabindex="1"
          (click)="onChangListMode('card')">
          <div class="toolbar-button-grid-row">
            <div class="toolbar-button-grid-row-box"></div>
            <div class="toolbar-button-grid-row-box"></div>
            <div class="toolbar-button-grid-row-box"></div>
            <div class="toolbar-button-grid-row-box"></div>
          </div>
        </li>
        <li class="toolbar-button toolbar-button-list"
          [class.toolbar-button-mode-active]="listMode==='list'"
          tabindex="1"
          (click)="onChangListMode('list')">
          <div class="toolbar-button-list-row">
            <div class="toolbar-button-list-row-box"></div>
            <span class="toolbar-button-list-row-line"></span>
          </div>
          <div class="toolbar-button-list-row">
            <div class="toolbar-button-list-row-box"></div>
            <span class="toolbar-button-list-row-line"></span>
          </div>
          <div class="toolbar-button-list-row">
            <div class="toolbar-button-list-row-box"></div>
            <span class="toolbar-button-list-row-line"></span>
          </div>
        </li>

        <li *ngIf="selectedUsers.length>0"
          class="toolbar-button toolbar-button-delete">
          <button class="toolbar-button-delete-button"
            [disabled]="this.pendingUsers"
            title="Удалить выбранных пользователей"
            (click)="onDeleteSelectedUsers()">Удалить</button>
        </li>

        <li class="toolbar-button toolbar-button-refresh">
          <button class="toolbar-button-refresh-button"
            [disabled]="this.pendingUsers"
            title="Обновить список"
            (click)="onRefreshList()"></button>
        </li>
      </ul>

      <div class="toolbar-controls-population">
        <form class="population"
          [class.collapsed]="legendRef.dataset.expanded!=='true'">
          <fieldset class="fieldset-common"
            [class.collapsed]="legendRef.dataset.expanded!=='true'"
            [disabled]="pendingRepopulate">
            <legend #legendRef
              [attr.data-expanded]="settings.populizerExpanded"
              tabindex="1"
              (click)="legendRef.dataset.expanded=legendRef.dataset.expanded==='true'? 'false': 'true'; onLegendClick(legendRef.dataset.expanded=legendRef.dataset.expanded==='true')"> Настройки популяции
              <span class="expand-button"
                [innerText]="legendRef.dataset.expanded==='true'? '▼': '►'"></span>
            </legend>
            <div class="population-xfactor">
              <label for="xFactorRange">X-фактор</label>
              <input type="range"
                id="xFactorRange"
                list="xFactorRangeDataList"
                [min]="xFactorRange[0]"
                [max]="xFactorRange[xFactorRange.length-1]"
                step="5"
                [value]="xFactor"
                (change)="onXFactorChange(xFactorInputRef.value)"
                #xFactorInputRef>
                  <span class="span-heads span-heads-h">
                    <span class="span-head span-head-h"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="15 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="25 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="35 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="45 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="55 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="65 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="75 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="85 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-h"
                      [style.opacity]="95 | rangePointOpacity: xFactor: 10"></span>
                  </span>
                  <span class="span-heads span-heads-x">
                    <span class="span-head span-head-x"
                      [style.opacity]="5 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="15 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="25 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="35 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="45 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="55 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="65 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="75 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"
                      [style.opacity]="85 | rangePointOpacity: xFactor: 10"></span>
                    <span class="span-head span-head-x"></span>
                  </span>
            </div>
            <fieldset class="fieldset-population-volumes">
              <legend tabindex="1"> Население </legend>
              <div class="population-volumes-controls">
                <label for="popuationMinRange">Не менее</label>
                <input type="range"
                  id="popuationMinRange"
                  min="10"
                  max="50"
                  step="1"
                  [value]="populationVolumeMin"
                  (change)="onPopulationVolumesChange(popuationMinRangeRef.value, popuationMaxRangeRef.value)"
                  #popuationMinRangeRef>
                <input type="text"
                  [value]="popuationMinRangeRef.value"
                  disabled>
                <label for="popuationMaxRange">Не более</label>
                <input type="range"
                  id="popuationMaxRange"
                  [min]="popuationMinRangeRef.value"
                  max="100"
                  step="1"
                  [value]="populationVolumeMax"
                  (change)="onPopulationVolumesChange(popuationMinRangeRef.value, popuationMaxRangeRef.value)"
                  #popuationMaxRangeRef>
                <input type="text"
                  [value]="popuationMaxRangeRef.value"
                  disabled>
              </div>
              <div class="population-human-power-controls">
                <label for="popuationMinRange">Устойчивость</label>
                <input type="range"
                  id="humanPowerBase"
                  min="3"
                  max="8"
                  step="1"
                  [value]="humanPowerBase"
                  (change)="onHumanPowerBaseChange(humanPowerBaseRef.value)"
                  #humanPowerBaseRef>
                <span class="span-heads span-heads-power">
                  <span class="span-head span-head-p"></span>
                  <span class="span-head span-head-p"></span>
                  <span class="span-head span-head-p"></span>
                  <span class="span-head span-head-p"></span>
                  <span class="span-head span-head-p"></span>
                  <span class="span-head span-head-p"></span>
                </span>
              </div>
              </fieldset>
              <button class="population-gen"
                type="submit"
                [disabled]="pendingRepopulate || pendingUsers || pendingUserDelete"
                (click)="onRepopulate()">Начать заново!</button>
          </fieldset>
        </form>
      </div>

      <label for="autoupdate"
        class="label-autoupdate">
        <input id="autoupdate"
          type="checkbox"
          [checked]="autoUpdate"
          (change)="onAutoUpdateChanges(autoupdateRef.checked)" #autoupdateRef>&nbsp;Автообновление
      </label>
    </div>

    <span class="list-message-panel">
      <span *ngIf="pendingUsers"
        class="list-message-update">Обновление...</span>
      <span *ngIf="pendingUsersDelete || pendingUserDelete"
        class="list-message-delete">Удаление...</span>
      <span *ngIf="pendingRepopulate"
        class="list-message-delete">Пересоздание...</span>
    </span>
  </section>

  <section *ngIf="listMode==='card'"
    class="users-list"
    [class.list-mode-card]="listMode==='card'">
    <ng-container *ngIf="(users$ | async) as users; else emptyListRef">
      <article class="user-card-section"
        [class.user-pending-delete]="pendingUserDeleteIdSet.has(user.id) || (pendingUsersDelete && user.selected)"
        *ngFor="let user of users">
        <app-user [user]="user"
          [displayMode]="listMode"
          [disabled]="pendingUserDeleteIdSet.has(user.id) || (pendingUsersDelete && user.selected) || user.contact"
          (userClick)="onUserClick(user)"
          (deleteMe)="onDeleteUser(user)"></app-user>
      </article>
    </ng-container>

    <ng-template #emptyListRef>
      <p *ngIf="!firstUpdate; else firstUpdateRef"
        class="empty-list">Список пуст</p>

      <ng-template #firstUpdateRef>
        <div class="first-update">
          <p>Пользователи</p>
        </div>
      </ng-template>
    </ng-template>
  </section>

  <section *ngIf="listMode==='list'"
    class="users-list"
    [class.list-mode-list]="listMode==='list'">
    <ng-container *ngIf="(users$ | async) as users; else emptyListRef">
      <article class="user-card-section user-card-section-list"
        [class.user-pending-delete]="pendingUserDeleteIdSet.has(user.id) || (pendingUsersDelete && user.selected)"
        *ngFor="let user of users">
        <app-user [user]="user"
          [displayMode]="listMode"
          [disabled]="pendingUserDeleteIdSet.has(user.id) || (pendingUsersDelete && user.selected) || user.contact"
          (userClick)="onUserClick(user)"
          (deleteMe)="onDeleteUser(user)"></app-user>
      </article>
    </ng-container>

    <ng-template #emptyListRef>
      <p *ngIf="!firstUpdate; else firstUpdateRef"
        class="empty-list">Список пуст</p>

      <ng-template #firstUpdateRef>
        <div class="first-update">
          <p>Пользователи</p>
        </div>
      </ng-template>
    </ng-template>
  </section>

</div>

<datalist id="xFactorRangeDataList">
  <option *ngFor="let value of xFactorRange"
    [value]="value"></option>
</datalist>
